/* * {
    padding: 0;
    margin: 0;
}

.box {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box input {
    width: 295px;
    height: 30px;
    border-radius: 4px;
    padding-left: 7px;
}

.box textarea {
    width: 295px;
    height: 50px;
    border-radius: 4px;
    padding-left: 7px;

}

.box button {
    width: 305px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(58, 186, 58);
    border: none;
    color: white;
    cursor: pointer;
    animation-duration: 0.4s;
}

.box button:hover {
    background-color: darkgoldenrod;
} */